:root {
  --height: 20rem;
  --width: 40rem;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 10px;
    aspect-ratio: 1/1;
    border: none;
    transition: all 0.3s ease;
    z-index: 10;

    &:hover {
      background-color: rgba(0, 0, 0, 0.651);
    }
    &:active {
      filter: drop-shadow(0 0 0.5rem black);
    }
  }

  .slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .images {
      width: var(--width);
      height: var(--height);
      padding: 1rem;
      position: relative;

      img {
        width: var(--width);
        height: var(--height);
        border-radius: 10px;
        object-fit: cover;
        position: absolute;
        transition: all 0.3s;
        border: 5px solid transparent;

        &.center {
          transform: translateX(0);
          z-index: 3;
          opacity: 1;
          border: 5px solid black;
        }
        &.left {
          transform: translateX(-50%) scale(0.7);
          z-index: 2;
        }
        &.right {
          transform: translateX(50%) scale(0.7);
          z-index: 2;
        }
        &.back {
          transform: scale(0.5);
          z-index: 1;
        }
      }
    }
  }
}
